*
{
    font-family:"微軟正黑體";
}
body{

    background: #ebebeb;
}   
#container
{   
    background: #ebebeb;
    position:fixed;
    top:50px;
    left:350px;
    width:calc(100% - 350px);
    min-width:800px;
    height:calc(100% - 50px);
    z-index:2;
}
#all-row
{
    position: relative;
}
#all-row:after
{
    content:"";
    display:block;
    width:100px;
    height:200px;
}
.grid
{
    width:100%;
    padding-bottom:15px;

}
.grid:first-child
{
    padding-top:15px;
}
.grid-all
{
    background: #fff;
    position: relative;
    width:90%;
    height:auto;
    display:flex;
    margin:0 auto;
    padding:10px; 

}

.header
{
    background: #414150;
    position: relative;
    width:150px;
    border-radius:10px;
}
.header div
{    
    display:block;
    position:absolute;
    top:50%;
    transform:translateY(-50%);
    text-align: center;
    padding-bottom:10px;
    font-size:1.5em;
    font-size:1.5em;
    color:#fff;
    width: 100%;
    word-break:break-all;
}

.color-list
{
    width:80%;
    margin:0 auto;
    margin-top: 20px;
    margin-bottom: 30px;
    margin-left:30px;
    display:flex;
    flex-wrap:wrap;
}
.color-container
{
    position: relative;
    width:80px;
    margin-right:20px;
    margin-bottom: 20px;
}
.color-container:hover
{
    z-index:4;
}
.color-block
{
    margin-bottom:7px;
    border-radius: 80px;
    width:80px;
    height:80px;
    transition: padding .2s
}
.color-block:hover
{
    box-shadow: 0px 2px 21px 0px #000;
    cursor:pointer;
}
